{
  "comments": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "common": "./src/common",
          "data": "./src/data",
          "domain": "./src/domain",
          "infrastructure": "./src/infrastructure",
          "web": "./src/web"
        }
      },
      "@babel/plugin-transform-async-to-generator"
    ]
  ]
}
