{
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "no-console": "warn"
  },
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
